<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    @Styles.Render("~/Content/bootstrap")
</head>
    <body>
        @Html.Partial("_Topbar")
        <section class="container">
            @RenderBody()
        </section>
        <footer>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
