@model ShoelaceMVC.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <div class="clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field input">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div class="clearfix">
        <div class="clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field input">
                @Html.TextBoxFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="editor-field input">
                @Html.TextBoxFor(m => m.RememberMe)
                @Html.ValidationMessageFor(m => m.RememberMe)
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn primary" value="Log In" /> or @Html.ActionLink("Register", "Register") if you don't have an account.
    </div>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
